[submodule "Cpp-Exercises-level-1-Course-3-"]
	path = Cpp-Exercises-level-1-Course-3-
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-level-1-Course-3-.git
[submodule "Cpp-Exercises-Level-2-Course-5-"]
	path = Cpp-Exercises-Level-2-Course-5-
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-Level-2-Course-5-.git
[submodule "Improve-my-Cpp-knowledge-Course-6-"]
	path = Improve-my-Cpp-knowledge-Course-6-
	url = https://github.com/MohamedRaghebOmer/Improve-my-Cpp-knowledge-Course-6-.git
[submodule "Cpp-Exercises-Course-7-"]
	path = Cpp-Exercises-Course-7-
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-Course-7-.git
[submodule "Cpp-Exercises-Course-8-"]
	path = Cpp-Exercises-Course-8-
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-Course-8-.git
